<div id="container">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img
          src="./images/emerald-home-banner.webp"
          class="d-block w-100 c-img"
          alt="home"
        />
        <div class="carousel-caption d-md-block">
          <h3>Yours Truly,</h3>
          <p>The Ammara Collection</p>
          <button onclick="window.location.href='/ammara'" class="btn shop">
            Shop Now
          </button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="./images/victoria-priessnitz-q8kurGmW9jE-unsplash.jpg"
          class="d-block w-100 c-img"
          alt="rings"
        />
        <div class="carousel-caption d-md-block">
          <h3>A Promise of Forever</h3>
          <p>Sparkling Rings for Your Love Story</p>
          <button onclick="window.location.href='/engagement'" class="btn shop">
            Shop Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="bar row">
    <div class="col-md-4">
      <img src="./images/emerald-home-gift-card-02.webp" alt="" class="what" />
    </div>
    <div class="col-md-4 mid">
      <p id="punch">The Perfect Gift Awaits</p>
      <p id="line">
        Let us help you find the perfect gift that <br />
        embodies love, elegance and sentimality.
      </p>
      <button onclick="window.location.href='/all'" class="btn now">
        Shop Now
      </button>
    </div>
    <div class="col-md-4">
      <img
        src="./images/emerald-the-perfect-gift-earrings-01.webp"
        alt=""
        class="what"
      />
    </div>
  </div>

  <div class="collection">
    <header id="heading">The Collections</header>
    <div class="row">
      <div class="col-md-3" onclick="window.location.href='/necklace'">
        <img
          src="./images/necklaces-collection-01.webp"
          alt="Your Image"
          class="img-fluid collection-image"
        />
        <p class="category">Necklace</p>
      </div>
      <div class="col-md-3" onclick="window.location.href='/rings'">
        <img
          src="./images/rings-collection-01.webp"
          alt="Your Image"
          class="img-fluid collection-image"
        />
        <p class="category">Rings</p>
      </div>
      <div class="col-md-3" onclick="window.location.href='/engagement'">
        <img
          src="./images/engagement-rings-collection-01.webp"
          alt="Your Image"
          class="img-fluid collection-image"
        />
        <p class="category">Engagement Rings</p>
      </div>
      <div class="col-md-3" onclick="window.location.href='/earrings'">
        <img
          src="./images/earrings-collection.webp"
          alt="Your Image"
          class="img-fluid collection-image"
        />
        <p class="category">Earrings</p>
      </div>
    </div>
  </div>
  <div class="container-book">
    <img
      src="./images/book-an-appointment-banner-01.webp"
      alt="Your Image"
      class="img-fluid"
    />
  </div>
  <div class="message">
    <div class="caption">
      <h2 id="head">Book An Appointment</h2>
      <p id="text">
        We are thrilled to assist you in finding the<br />perfect piece of
        jewelry.
      </p>
      <button class="btn shop">Book Now</button>
    </div>
  </div>
</div>
